apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: support-bundle
    component: gather-info
  annotations:
    orbis.io/created-by: "{{ tool_name }}"
    orbis.io/created-at: "{{ timestamp }}"
  name: {{ sa_name }}
  namespace: {{ namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: read-support-bundle
  labels:
    app: support-bundle
    component: gather-info
  annotations:
    orbis.io/created-by: "{{ tool_name }}"
    orbis.io/created-at: "{{ timestamp }}"
rules:
  - apiGroups: [""]
    resources:
      - namespaces
      - pods
      - pods/log
      - pods/status
      - pods/ephemeralcontainers
      - configmaps
      - secrets
      - services
      - persistentvolumes
      - persistentvolumeclaims
      - endpoints
      - events
      - resourcequotas
      - limitranges
      - replicationcontrollers
      - nodes
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources:
      - pods/exec
    verbs: ["create"]
  - apiGroups: ["apps"]
    resources:
      - deployments
      - daemonsets
      - statefulsets
      - replicasets
    verbs: ["get", "list", "watch"]
  - apiGroups: ["batch"]
    resources:
      - jobs
      - cronjobs
    verbs: ["get", "list", "watch"]
  - apiGroups: ["networking.k8s.io"]
    resources:
      - ingresses
      - networkpolicies
    verbs: ["get", "list", "watch"]
  - apiGroups: ["apiextensions.k8s.io"]
    resources:
      - customresourcedefinitions
    verbs: ["get", "list", "watch"]
  - apiGroups: ["operators.coreos.com"]
    resources: ["*"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["storage.k8s.io"]
    resources:
      - storageclasses
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app: support-bundle
    component: gather-info
  annotations:
    orbis.io/created-by: "{{ tool_name }}"
    orbis.io/created-at: "{{ timestamp }}"
  name: {{ role_binding_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: {{ sa_name }}
    namespace: {{ namespace }}
