pre code.hljs {
    padding: 0 !important;
}

.markdown {
    .book-hint.example {
        border-color: #7fb783;
        background-color: rgba(102, 255, 105, 0.1);
    }

    pre {
        white-space: pre-wrap;
        text-indent: 4ex hanging each-line;
    }
}