[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "rhoa"
version = "0.1.3"
description = "A pandas DataFrame extension for technical analysis."
readme = "README.md"
license = {text = "GPL-3.0-or-later"}
authors = [
  { name = "nainajnahO", email = "d.ohanjanian@icloud.com" }
]
requires-python = ">=3.9"
dependencies = [
  "pandas>=1.3"
]
classifiers = [
  "Development Status :: 2 - Pre-Alpha",
  "Intended Audience :: Developers",
  "Intended Audience :: Financial and Insurance Industry",
  "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Topic :: Office/Business :: Financial",
  "Topic :: Scientific/Engineering :: Information Analysis"
]

[project.optional-dependencies]
dev = [
  "pytest>=6.0",
  "pytest-cov",
  "black",
  "flake8",
  "mypy"
]

[project.urls]
Homepage = "https://github.com/nainajnahO/Rhoa.git"